<% if bookings.any? %>
  <%# <% bookings.order(created_at: :desc).each do |booking| %>
  <% bookings.each do |booking| %>
  <% booking = [booking] unless booking.class == Array %>
  <%# <% booking = booking[0] if booking.length >1 %>

    <div class="booking-container d-flex flex-row justify-content-start">
      <div class="row w-100">
        <div class="col-2">
          <div class="date-group">
            <p><strong><%= booking.first.start_time %></strong></p>
          </div>
        </div>
        <div class="col-7">
          <div class="time-location-group">
            <p><i class="fa-solid fa-clock"></i><%= booking.first.start_time %> <%= booking.first.end_time %></p>
<%# strftime("%d/%m/%Y at %I:%M%p") %>
            <p><i class="fa-solid fa-location-dot"></i><%= booking.first.venue_address %></p>
          </div>
        </div>
        <%# <div class="col-4">
        </div> %>
        <div class="col-3">
          <div class="renter-details-group d-flex">
            <% venue = booking.first.venue %>
            <% if booking.first.venue.photo.attached? %>
              <%= image_tag booking.first.venue.photo, class: "logo-inline" %>
            <% else %>
              <%= image_tag "venue_default_avatar.png", class: "logo-inline" %>
            <% end %>
            <p><%= booking.first.venue.name %> <%= booking.first.status %></p>
          </div>
        </div>
      </div>
    </div>
    <%= link_to "Add Review", new_booking_review_path(booking) %>
  <% end %>
<% else %>
<div class="booking-container-past mt-3">
<p>No bookings! You can book <%= link_to "here", venues_path %></p>
  </div>
<% end %>
