<%= link_to venue_facility_path(@facility) do %>
  <i class="fa-solid fa-arrow-left"></i>
  Back
  <% end %>
<h1>Checkout Summary</h1>

<p>Booking Details:</p>
<ul>
  <li>Start Time: <%= @booking.start_time.strftime("%H:%M") %></li>
  <li>End Time: <%= @booking.end_time.strftime("%H:%M") %></li>
</ul>

<h3>Summary</h3>

<p>Price: £<%= @total_price %></p>
<p>Booking fee: £<%= @facility.deposit_price.to_i %></p>
<p>Total to pay at venue: £<%= @remainder %></p>

<button>Checkout</button>
<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1>Checkout summary</h1>
      <p>Purchase of <strong><%= @facility.venue.name %></strong> for <strong><%= humanized_money_with_symbol @booking.deposit_price_cents %></strong></p>
      <button id="pay" class="btn btn-primary">Pay</button>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @booking.checkout_session_id %>'

          });
        });
      </script>
    </div>
  </div>
</div>
