<%= link_to venue_path(@facility.venue) do %>
  <i class="fa-solid fa-arrow-left"></i>
  Back
  <% end %>
<h2><%= @facility.name %></h2>

<div class="tabs-container" id="tabs-container">
  <div class="nav nav-tabs nav-justified" id="myTab" role="tablist">
    <% @date_range.each_with_index do |date, index| %>
      <div class="nav-item" role="presentation">
        <button class="nav-link <%= 'active' if index.zero? %>" id="<%= date.first.to_s %>-tab" data-bs-toggle="tab" data-bs-target="#<%= date.first.to_s %>" type="button" role="tab" aria-controls="<%= date.first.to_s %>" aria-selected="true"><%= date[1] %></button>
      </div>
    <% end %>
  </div>
</div>


<div class="tab-content" id="myTabContent" data-controller="book-slots">
  <% @date_range.each_with_index do |date, index| %>
    <div class="tab-pane fade show <%= 'active' if index.zero? %>" id="<%= date.first.to_s %>" role="tabpanel" aria-labelledby="<%= date.first.to_s %>-tab">
      <div class="slot-time-show row align-items-start justify-content-start" style="padding-right: 0px;">
        <% @facility.slots.on_day(date.first).where(booked: false).each do |slot| %>
          <div class="col-3 mb-2" style="width: fit-content;">
            <div class="slot-box">
              <input type="checkbox" class="slot-checkbox" id="slot-<%= slot.id %>" data-book-slots-target="checkbox" data-slot-id="<%= slot.id %>" data-slot-start="<%= slot.start_time %>" data-slot-end="<%= slot.end_time %>">
              <label for="slot-<%= slot.id %>" style="font-size: 15px;"> <%= slot.start_time.strftime("%H:%M") %> - <%= slot.end_time.strftime("%H:%M") %> </label>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <button id="book-selected-slots" data-action="click->book-slots#bookSlots" class="btn btn-primary">Book Selected Slots</button>
</div>
