<div class="card-trip-owner d-flex flex-column">
  <% if venue.images.attached? %>
    <%= cl_image_tag venue.images.first.key %>
  <% else %>
    <%= image_tag("backdrop.jpg") %>
  <% end %>

  <div class="card-trip-owner-info d-flex flex-column">
    <div style="flex-grow: 1;">
      <h3><%= venue.name %></h3>
    </div>

    <div style="width: 105px;">
      <% if venue.logo.attached? %>
        <%= cl_image_tag venue.logo.key, class: "card-owner-logo" %>
      <% else %>
        <%= image_tag("venue_default_avatar.png", class: "card-owner-logo") %>
      <% end %>
    </div>
    <div class="d-flex mt-3 w-100 gap-3">
  <%= link_to "Edit venue", edit_venue_path(venue), class: "btn-secondary" %>
  <%= link_to "Delete venue", venue, class: "btn-secondary", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this venue?" }%>
</div>
  </div>
</div>
