<div class="card-trip-owner d-flex flex-column">
  <% if venue.images.attached? %>
    <%= cl_image_tag venue.images.first.key %>
  <% else %>
    <%= image_tag("backdrop.jpg") %>
  <% end %>

  <div class="card-trip-owner-info d-flex flex-column">
    <div style="flex-grow: 1;">
      <h3><%= venue.name %></h3>
    </div>

    <div style="width: 105px;">
      <% if venue.logo.attached? %>
        <%= cl_image_tag venue.logo.key, class: "card-owner-logo" %>
      <% else %>
        <%= image_tag("venue_default_avatar.png", class: "card-owner-logo") %>
      <% end %>
    </div>
    <div class="d-flex mt-3 w-100 gap-4">
   <%= link_to venue_path(venue), class: "btn-icon" do%>
  <i class="fa-solid fa-2xl fa-eye"></i>
<% end %>
  <%= link_to edit_venue_path(venue), class: "btn-icon" do %>
  <i class="fa-solid fa-2xl fa-pen"></i>
<% end %>
   <%= link_to venue_path(venue), method: :delete, class: "btn-icon", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this venue?" } do%>
  <i class="fa-solid fa-2xl fa-trash"></i>
<% end %>
</div>
  </div>
</div>
