

<div class="card-trip">
 <% if venue.image.attached? %>
    <%= cl_image_tag venue.image.key %>
             <% else %>
               <%= image_tag("backdrop.jpg") %>
    <% end %>
    <div class="card-trip-infos">
  <div style= "flex-grow: 1;">
      <h2><%= venue.name %></h2>
      <h3><%= venue.borough %></h3>
      <p><%= venue.description %></p>

    </div>
    <div style="width: 105px;"></div>


     <% if venue.photo.attached? %>
    <%= cl_image_tag venue.photo.key,class: "logo"%>
            <% else %>
               <%= image_tag("venue_default_avatar.png",class: "logo") %>
     <% end%>
</div>
  <%= link_to "see more", venue_path(venue), class: " btn btn-green btn-full-width" %>
</div>
