
<div>
  <h1> <%= @venue.name %> </h1>
  <p> <%= @venue.description %> </p>
  <p> <%= @venue.address %> </p>
</div>
<div>
  <h2> About </h2>
  <p>
    Phone:<%= @venue.phone %>
  </p>
  <p>
    Email: <%= @venue.email %>
  </p>
  <p>
    Follow us: <%= @venue.socials %>
  </p>
</div>

<div>
  <h3>Opening Times</h3>
  <p>Opening: <%= @venue.opening_time.strftime(" %l:%M %p") %></p>
  <p>Closing: <%= @venue.closing_time.strftime(" %l:%M %p") %></p>
</div>


<div>
  <% @venue.facilities.each do |facility| %>
    <h2> <%= facility.sport %> </h2>
    <p> £ <%= facility.price %>/ <%= facility.duration %> min </p>
    <p> <%= facility.capacity %> players </p>
  <% end %>
</div>
