<h1>Add a Review for Booking <%= @booking.id %></h1>

<%= simple_form_for [@booking, @review] do |f|%>
  <div class="form-inputs">
    <%= f.input :rating %>
    <%= f.input :content%>
  </div>
  <div>
    <%= f.submit %>
  </div>
  <% end %>
