<h1>Review your experience at <%= @booking.venue.name %></h1>

<%= simple_form_for [@booking, @review] do |f|%>
  <div class="form-inputs">
    <%= f.input :rating %>
    <%= f.input :content%>
  </div>
  <div>
      <%= f.submit "Add your review", class: "btn btn-primary btn-full-width text-white" %>
  </div>
  <% end %>
